## Homework #1

### Question 1: Knowing docker tags

Which tag has the following text? 
    --iidfile string

### Question 2. Understanding docker first run

TERMINAL OUTPUT:

(base) ronaldajohnson@de-zoomcamp:~/data-engineering-zoomcamp/week_1_basics_n_setup/2_docker_sql$ docker run -it --entrypoint=bash python:3.9
root@2a1faadd783d:/# pip list
Package    Version
---------- -------
pip        22.0.4
setuptools 58.1.0
wheel      0.38.4
WARNING: You are using pip version 22.0.4; however, version 22.3.1 is available.
You should consider upgrading via the '/usr/local/bin/python -m pip install --upgrade pip' command.
root@2a1faadd783d:/#

## Question 3. Count Records

How many taxi trips were totally made on January 15? 
* 20530

TERMINAL OUTPUT:

Select COUNT(*) from green_taxi_data where DATE(lpep_pickup_datetime) = '2019-01-15' and DATE(lpep_dropoff_datetime) ='2019-01-15'
+-------+
| count |
|-------|
| 20530 |
+-------+

Select * from green_taxi_data where DATE(lpep_pickup_datetime) = '2019-01-15' and DATE(lpep_dropoff_datetime) ='2019-01-15'
The result was limited to 1000 rows
+--------+----------+----------------------+-----------------------+--------------------+------------+--------------+--------------+-----------------+---------------+------>
| index  | VendorID | lpep_pickup_datetime | lpep_dropoff_datetime | store_and_fwd_flag | RatecodeID | PULocationID | DOLocationID | passenger_count | trip_distance | fare_>
|--------+----------+----------------------+-----------------------+--------------------+------------+--------------+--------------+-----------------+---------------+------>
| 276753 | 2        | 2019-01-15 17:44:00  | 2019-01-15 18:03:10   | N                  | 1          | 34           | 52           | 1               | 2.08          | 13.0 >
| 272684 | 2        | 2019-01-15 15:33:43  | 2019-01-15 15:33:50   | N                  | 5          | 195          | 195          | 1               | 0.0           | 35.0 >
| 275421 | 2        | 2019-01-15 16:50:12  | 2019-01-15 17:23:03   | N                  | 1          | 195          | 17           | 1               | 6.37          | 25.5 >
| 278806 | 2        | 2019-01-15 20:02:24  | 2019-01-15 20:17:52   | N                  | 1          | 195          | 228          | 1               | 3.23          | 13.0 >
| 279998 | 2        | 2019-01-15 00:00:45  | 2019-01-15 00:07:05   | N                  | 1          | 244          | 42           | 2               | 1.6           | 7.5  >
| 280030 | 2        | 2019-01-15 00:01:19  | 2019-01-15 00:04:25   | N                  | 1          | 244          | 116          | 1               | 0.68          | 4.5  >
| 280040 | 2        | 2019-01-15 00:01:46  | 2019-01-15 00:08:47   | N                  | 1          | 134          | 197          | 1               | 2.68          | 10.0 >
| 280062 | 2        | 2019-01-15 00:01:38  | 2019-01-15 00:11:09   | N                  | 1          | 41           | 161          | 1               | 3.77          | 12.0 >

## Question 4. Largest trip for each day

Which was the day with the largest trip distance Use the pick up time for your calculations.

* 2019-01-15


TERMINAL OUTPUT:



Select lpep_pickup_datetime, trip_distance from green_taxi_data where trip_distance = (
 SELECT MAX(trip_distance)
 FROM green_taxi_data)
 GROUP BY lpep_pickup_datetime, trip_distance
+----------------------+---------------+
| lpep_pickup_datetime | trip_distance |
|----------------------+---------------|
| 2019-01-15 19:27:58  | 117.99        |
+----------------------+---------------+

## Question 5. The number of passengers

In 2019-01-01 how many trips had 2 and 3 passengers?

* 2:1282,3:254

 SELECT passenger_count, COUNT(passenger_count) FROM green_taxi_data where passenger_count between 2 and 3 AND DATE(lpep_pickup_datetime) = '2019-01-0
 1' group by passenger_count
+-----------------+-------+
| passenger_count | count |
|-----------------+-------|
| 2               | 1282  |
| 3               | 254   |
+-----------------+-------+

## Question 6. Largest tip

For the passengers picked up in the Astoria Zone which was the drop off zone that had the largest tip? We want the name of the zone, not the id. 

* Long Island City/Queens Plaza 

TERMINAL OUTPUT: 

SELECT zn."Zone", gn."tip_amount" from zones zn
  join green_taxi_data gn on zn."LocationID" = gn."DOLocationID"
 where  gn."tip_amount"  = (Select MAX(tip_amount) FROM green_taxi_data g1
      INNER JOIN zones z1
      ON z1."LocationID" =  g1."DOLocationID" 
   where g1."PULocationID" = (Select zones."LocationID" from zones where zones."Zone" = 'Astoria'))
 group by zn."Zone", gn."tip_amount"
+-------------------------------+------------+
| Zone                          | tip_amount |
|-------------------------------+------------|
| Long Island City/Queens Plaza | 88.0       |
+-------------------------------+------------+